<%- include('nav.ejs') %>
<div class="container-fluid bg-white p-3">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center bg-warning text-dark font-weight-bold shadow">Edit Slider</h1>
        </div>
    </div>
</div>	
<div class="container">
    <div class="row mt-4">
        <form action="/admin/update_slider" method="post" enctype="multipart/form-data">
            <input type="hidden" name="home_slider_id" value="<%= old_sli.home_slider_id%>">
        <div class="col-md-6 float-left text-center">
            <h4 class="text-dark font-weight-bold">Page First</h4>
        </div>
        <div class="col-md-6 float-left text-center">
            <h4 class="text-dark font-weight-bold">Page Second</h4>
        </div>
        <div class="col-md-6 float-left text-center mt-4">
          <label>Enter Title</label>  
          <input type="text" name="ftitle" class="form-control" value="<%= old_sli.ftitle %>">
        </div>
        <div class="col-md-6 float-left text-center mt-4">
          <label>Enter Title</label>  
          <input type="text" name="stitle" class="form-control" value="<%= old_sli.stitle %>">
        </div>
          <div class="col-md-6 float-left text-center mt-4">
            <label>Enter Title Last Hilighted Word</label>  
            <input type="text" name="fhword" class="form-control" value="<%= old_sli.fhword %>">
          </div>
         
          <div class="col-md-6 float-left text-center mt-4">
            <label>Enter Title Last Hilighted Word</label>  
            <input type="text" name="shword" class="form-control" value="<%= old_sli.shword %>">
          </div>
          <div class="col-md-12 float-left text-center mt-4">
            <label>Enter First Page Discription</label>  
            <input type="text" name="fdisc" class="form-control" value="<%= old_sli.fdisc %>">
          </div>
          <div class="col-md-12 float-left text-center mt-4">
            <label>Enter Second Page Discription</label>  
            <input type="text" name="sdisc" class="form-control" value="<%= old_sli.sdisc %>">
          </div>
          <div class="col-md-3 float-left text-center mt-4">
            <label>Enter Button Name Page 1</label>  
            <input type="text" name="fbut" class="form-control" value="<%= old_sli.fbut %>">
          </div>
          <div class="col-md-3 float-left text-center mt-4">
            <label>Enter Button Name Page 1</label>  
            <input type="text" name="f1but" class="form-control" value="<%= old_sli.f1but %>">
          </div>
          <div class="col-md-3 float-left text-center mt-4">
            <label>Enter Button Name Page 2</label>  
            <input type="text" name="sbut" class="form-control" value="<%= old_sli.sbut %>">
          </div>
          <div class="col-md-3 float-left text-center mt-4">
            <label>Enter Button Name Page 2</label>  
            <input type="text" name="s1but" class="form-control" value="<%= old_sli.s1but %>">
          </div>
          <div class="col-md-6 float-left text-center mt-4">
            <label>Select Image</label>  
            <input type="file" name="fsimg" accept="images/*" class="form-control">
            <img src="/uploads/<%= old_sli.sli_img %>" height="100px" width="100px">
            
          </div>
          <div class="col-md-6 float-left text-center mt-4">
              <label>Select Image</label>  
              <input type="file" name="ssimg" accept="images/*" class="form-control">
              <img src="/uploads/<%= old_sli.sli_img1 %>" height="100px" width="100px">
            </div>
          <div class="col-md-12 float-left text-center mt-4">
            <button class="btn btn-primary  ">Update Slider</button>
          </div>
    </form>
    </div>
</div>
            
<%- include('footer.ejs') %>     
